* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --card-color: #fffbf7;
  --card-detail: #9a1032;
  --card-text1: #8f8c8a;
  --card-text2: #9a1032;
  --card-division: #464646;
  --background: url(./assets/backgrounds/standart.png);
}
body.light {
  --card-color: #cfcfcf;
  --card-detail: #479dff;
  --card-text1: #0077ff;
  --card-text2: #525252;
  --card-division: #464646;
  --background: url(./assets/backgrounds/light.png);
}
body.dark {
  --card-color: #1d1c19;
  --card-detail: #746615;
  --card-text1: #d0b833;
  --card-text2: #c3c3c3;
  --card-division: #464646;
  --background: url(./assets/backgrounds/dark.png);
}
body.hexa {
  --card-color: #003816;
  --card-detail: #ffdf00;
  --card-text1: #0055ff;
  --card-text2: #ffdf00;
  --card-division: #0055ff;
  --background: url(./assets/backgrounds/hexa.png);
}
ul {
  list-style: none;
}
body {
  background: #121214;
  background-image: var(--background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body * {
  font-family: "Roboto", sans-serif;
}
#app {
  /*border: 1px solid red;*/
  width: fit-content;
  margin: 50px auto;
}
header {
  margin-bottom: 60px;
  text-align: center;
}
#cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.card {
  /*border: 1px solid red;*/
  opacity: 0;
  animation: appear 0.3s forwards;
  padding: 30px 25px;
  text-align: center;
  background: var(--card-color);
  border-bottom: 3px solid var(--card-detail);
  border-radius: 6px;
}
.card h2 {
  display: flex;
  padding: 10px 15px;
  border: 1px solid var(--card-detail);
  border-radius: 6px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 55px;
  color: var(--card-text1);
}
.card h2 span {
  color: var(--card-text2);
  font-size: 15px;
  text-transform: uppercase;
}
.card ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 270px;
}
.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card ul li + li {
  padding-top: 25px;
  border-top: 1px solid var(--card-division);
}
.card ul li strong {
  color: var(--card-text2);
  font-size: 35px;
  font-weight: 900;
  line-height: 125%;
}
.card h2:hover,
.card ul li img:hover,
.card ul li strong:hover {
  transform: scale(1.1);
}
.card h2,
.card ul li img,
.card ul li strong {
  transition: transform 0.3s;
}
@keyframes appear {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 400px) {
  #cards {
    max-width: 1020px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
